:root{
    --Anton: 'Anton', sans-serif;
    --BebasNeue: 'Bebas Neue', cursive;
    --CormorantGaramond: 'Cormorant Garamond', serif;
    --Rajdhani: 'Rajdhani', sans-serif;
    --SourceCodePro: 'Source Code Pro', monospace;
    
    /* colors */
    --MainColor:white;
    --PrimaryColor:black;
    --SecondaryColor:red;
    --NavBarColor:rgba(0, 0, 0, .8);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    position: relative;
    border: 2px solid red;
}
.App-container{
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 100vh;

    border: 2px solid springgreen;
}

.footerContainer{
    width: 100%;
    min-height: 300px;
    background: var(--NavBarColor);
}




























