:root{
    --Anton: 'Anton', sans-serif;
    --BebasNeue: 'Bebas Neue', cursive;
    --CormorantGaramond: 'Cormorant Garamond', serif;
    --Rajdhani: 'Rajdhani', sans-serif;
    --SourceCodePro: 'Source Code Pro', monospace;
    
    /* colors */
    --MainColor:white;
    --PrimaryColor:black;
    --SecondaryColor:red;
    --NavBarColor:rgba(0, 0, 0, 1);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    position: relative;
}
.App-container{
    flex-direction: column;
    width: 100%;
    z-index: 300;
}
.homepageContainer{
    width: 100%;
    max-height: calc(100vh-68px);
    border: 2px solid red;
    /* background: skyblue; */
}






















